.gpt3__header {
    display: flex;
}

.gpt3__header-content h1 {
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    font-family: var(--font-family);
    letter-spacing: -0.04rem;
}

.gpt3__header-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt3__header-content p {
    color: var(--color-text);
    margin-top: 1.5rem;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: normal;
    font-weight: normal;
    line-height: 27.32px;
}

.gpt3__header-content-signup {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3__header-content-signup input {
    width: 100%;
    min-height: 50px;
    flex: 2;
    font-family: var(--font-family);
    background-color: var(--color-footer);
    font-size: 20px;
    line-height: 27px;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
}

.gpt3__header-content-signup button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background-color: #FF4820;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    font-family: var(--font-family);
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt3__header-content-people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.gpt3__header-content-people img {
    width: 181.79px;
    height: 38px;
}

.gpt3__header-content-people p {
    margin-left: 0 0 0 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 37.61px;
    text-align: center;
    font-family: var(--font-family);
}

.gpt3__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-image img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width :1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width :650px) {
    .gpt3__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header-content-people {
        flex-direction: column;
    }

    .gpt3__header-content-people p {
        margin: 0;
    }

    .gpt3__header-content-signup,
    .gpt3__header-content-signup button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width :490px) {
    .gpt3__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content-signup,
    .gpt3__header-content-signup button {
        font-size: 12px;
        line-height: 16px;
    }
}